/*********************************
  CHIKORAKII STYLESHEET 
  MARCH 31, 2022
*********************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body { 
  --violet: 143, 5, 149; 
  --plum: 81, 0, 130; 
  --light: 191, 116, 194; 
  background: rgb(var(--plum));
  background: linear-gradient(0deg, rgba(var(--plum),1) 0%, rgba(var(--violet),1) 100%);
  background-attachment: fixed;
  font-family: Mulish, sans-serif;
}

.backkground { 
  background: rgba(var(--light), 1); 
  font-size: 14px;
  margin: 20px auto; 
  width: 700px; 
	padding-bottom: 20px;
}

.backkground-sort { 
  background: rgba(var(--light), 1); 
  font-size: 14px;
  margin: 20px auto; 
  width: 75%; 
	padding-bottom: 20px;
}

h1 {
  background: -webkit-linear-gradient(rgba(var(--plum),1), rgba(var(--violet),1));
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 900 30px Mulish;
  margin: 0;
  text-align:  center;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent {
  align-content: flex-start;
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-between; 
  padding: 45px 40px;
}

.child  {
  height: 400px; 
  margin: auto;
  width: 290px;
  }
.rockyimg {
  width: 100%;
}
.rockyimg img {
  height: 400px;
  object-fit: cover;
  object-position: center;
  width: 290px;
}

.chikoinfo {
  display: block;
  text-align: justify;
  width: 100%;
}


.socials, .linkbox {
  width: 100%;
}

.linkbox a, .linkbox a:visited, .linkbox a:active {
  background: rgba(var(--plum),1);
  border-radius: 11px;
  color: #fff;
  display: block;
  font: 700 12px Mulish;
  margin: 0 0 8px 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
}

.linkbox a:hover {
  color: rgba(var(--light),1);
}
.socials { 
  color: rgba(var(--violet), 1); 
  font-size: 15px;
  text-align: center;
}
.socials a, .socials a:active, .socials a:visited { 
  background: rgba(var(--plum), 1); 
  color: rgba(var(--light),1);
  margin: 0px 4px; 
  width: 30px; height: 30px; text-align: center; 
  line-height: 30px; 
  border: 1px dotted rgba(var(--violet),1); 
  border-radius: 30px;
  text-decoration: none;
  transition: all .2s ease;
  display: inline-block; 
}
.socials a:hover {
  color: rgba(var(--violet),1); 
}

/* Large */
.parent {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .parent {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .parent {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .backkground-sort, .backkground { 
  width: 400px; 
}

.child  {
  max-height: 400px; 
  height: inherit;
  }
.rockyimg {
  width: 100%;
  height: 150px;
}
.rockyimg img {
  height: 150px;
}

}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: rgba(var(--light),1);
  padding: 10px 0 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgba(var(--violet),1);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin: 0 35px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  opacity: .8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(var(--plum),1);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0;
  height: 230px;
}
.scroller { 
height: 210px;
overflow: auto;
  padding: 0px 5px;
  margin: 0 0 0;
}

html,
body {
    --violet: 143, 5, 149;
    --plum: 81, 0, 130;
    --light: 191, 116, 194;
    height: 100%;
}

h1 {
  background: linear-gradient(0deg, rgba(var(--plum),1), rgba(var(--violet),1));
  background-clip: text;
  -webkit-background-clip: text;
   color: transparent;
  font: 900 35px Mulish;
  text-align:  center;
}

.grid {
    align-content: space-between;
    background: #EFEFEF;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    width: 90%;
}
.albumcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.album {
    background: rgb(255, 255, 255);
  margin: 10px;
    text-align: center;
  width: 170px;
}

.album img {
    height: 140px;
    padding: 15px;
    width: 140px;
}

.owned img {
    filter: blur(2px) sepia(.3);
    transition: all .3s ease-in;
}

.owned:hover img {
    filter: blur(0) sepia(0);
     opacity: 1;
}
.album.iso { 
  background: rgba(var(--light),.23);
}

.button-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  margin: 0 auto;
    width: 80%;
}

.button {
    background: rgba(var(--violet), 1);
    border: 0;
    border-radius: 5px;
    color: #FFF;
    margin: 5px 0px;
    padding: 5px;
}


.button:active,
.button:hover {
    background: rgba(var(--violet), .75);
}
.is-checked {
    background: rgba(var(--violet), .45);
}
  

.album h3 {
    font: 700 12px Mulish;
    margin: 0;
    padding: 0 7px 7px;
    text-align: center;
    text-transform: uppercase;
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 0;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	color: #fff;
  background: rgba(var(--plum),1); 
  font-size: 12px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
}
.tab:hover label {
	background: rgba(var(--plum),.7);
}

.tab-content {
	display: none;
  height: 194px;
  overflow: auto;
}
h4 { 
  padding: 0; 
  margin: 0;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
	background: rgba(var(--violet),1);
	color: #fff;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
  
}
