/*********************************

  CHIKORAKII STYLESHEET 
  MARCH 31, 2022

*********************************/

html { 
   --violet: 143, 5, 149; 
  --plum: 81, 0, 130; 
  --light: 191, 116, 194; 
  background: rgb(var(--plum));
  background: linear-gradient(0deg, rgba(var(--plum),1) 0%, rgba(var(--violet),1) 100%);
}

body { 
  width: 450px; 
  padding: 35px; 
  margin: 20px auto; 
  background: rgba(var(--light), 1); 
}
